<%= form_for @sake, html: { multipart: true } do |f| %>
  <% if @sake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sake.errors.count, "error") %> prohibited this sake from being saved:</h2>

      <ul>
      <% @sake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "画像" %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label "銘柄名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "キャッチコピー" %><br>
    <%= f.text_area :catchcopy %>
  </div>
  <div class="field">
    <%= f.label "詳細説明" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "URL" %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label "産地" %><br>
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label "蔵元" %><br>
    <%= f.text_field :maker %>
  </div>
  <div class="field">
    <%= f.label "分類" %><br>
    <%= f.text_field :classification %>
  </div>
  <div class="field">
    <%= f.label "アルコール度数" %><br>
    <%= f.text_field :alcohol %>
  </div>
  <div class="field">
    <%= f.label "原料名" %><br>
    <%= f.text_field :ingredient %>
  </div>
  <div class="field">
    <%= f.label "原料米" %><br>
    <%= f.text_field :rice %>
  </div>
  <div class="field">
    <%= f.label "精米歩合(%)" %><br>
    <%= f.text_field :seimaibuai %>
  </div>
  <div class="actions">
    <%= f.submit "登録", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
