<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
	<%= image_tag @sake.image.url(:medium) %>

	<div class="star-rating" data-score= <%= @avg_review %>></div>
	<em><%= "#{@reviews.length} 件のレビュー" %></em>

	<div class="table-responsive">
	  <table class="table">
	    <tbody>
	      <tr>
		<td><strong>銘柄名</strong></td>
		<td><%= @sake.name %></td>
	      </tr>
	      <tr>
		<td><strong>詳細説明</strong></td>
		<td><%= @sake.description %></td>
	      </tr>
	      <tr>
		<td><strong>URL</strong></td>
		<td><%= @sake.url %></td>
	      </tr>
	      <tr>
		<td><strong>産地</strong></td>
		<td><%= @sake.home %></td>
	      </tr>
	      <tr>
		<td><strong>蔵元</strong></td>
		<td><%= @sake.maker %></td>
	      </tr>
	      <tr>
		<td><strong>分類</strong></td>
		<td><%= @sake.classification %></td>
	      </tr>
	      <tr>
		<td><strong>アルコール度数</strong></td>
		<td><%= @sake.alcohol %></td>
	      </tr>
	      <tr>
		<td><strong>原料名</strong></td>
		<td><%= @sake.ingredient %></td>
	      </tr>
	      <tr>
		<td><strong>原料米</strong></td>
		<td><%= @sake.rice %></td>
	      </tr>
	      <tr>
		<td><strong>精米歩合</strong></td>
		<td><%= @sake.seimaibuai %></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>

      <div class="col-md-7 col-md-offset-1">
	<h1 class="review_title"><%= @sake.name %></h1>
	<p><%= @sake.catchcopy %></p>
	<%= link_to "レビュー投稿", new_sake_review_path(@sake), class: "btn btn-success" %>

	<% if @reviews.blank? %>
	  <h3>まだレビューがありません。投稿してください！</h3>
	<% else %>
	  <% @reviews.each do |review| %>
	    <div class="reviews">
	      <div class="star-rating" data-score= <%= review.rating %> ></div>
	      <p><%= review.comment %></p>
	    </div>
	  <% end %>
	<% end %>
      </div>

    </div>
  </div>
</div>

<%= link_to '編集する', edit_sake_path(@sake) %> |
<%= link_to '一覧にもどる', sakes_path %>

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
